version: "3.3"

services:
  nginx:
    image: "nginx:stable-alpine"
    volumes:
      - /var/www/ekarailiev.com/ekarailiev/nginx.conf:/etc/nginx/nginx.conf:ro
      - /var/www/ekarailiev.com/ekarailiev/default.conf:/etc/nginx/conf.d/default.conf:ro
      - /var/www/cezerin:/var/www/cezerin
      - /var/www/ekarailiev.com/ekarailiev/server.js:/var/www/cezerin/config/server.js
      - /var/www/ekarailiev.com/rupite/public/content:/var/www/cezerin/public/content
      - /var/www/ekarailiev.com/ekarailiev/theme:/var/www/cezerin/theme
    ports:
      - 80:80
    links:
      - web
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT= 80
  web:
    build: .
    volumes:
      - /var/www/cezerin:/var/www/cezerin
      - /var/www/ekarailiev.com/ekarailiev/server.js:/var/www/cezerin/config/server.js
      - /var/www/ekarailiev.com/rupite/public/content:/var/www/cezerin/public/content
      - /var/www/ekarailiev.com/ekarailiev/theme:/var/www/cezerin/theme
    depends_on:
      - db
    links:
      - db

  db:
    image: "mongo:3.4.10-jessie"
    volumes:
      - /var/www/karailiev.com/db1:/data/db

  expr:
    image: "mongo-express:0.42.2"
    depends_on:
      - db
    links:
      - db
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_SERVER: karailiev_db_1  
